/**
*	variables
*/

$body-bg: #eee !default;

// nav
// #####################
$nav-color-active: #999;
$nav-li-bg: #999;
$nav-li-width:100%/3;
$nav-a-color: #fff;
$nav-a-font-size: 25px;
$nav-a-font-family: fantasy;
$nav-height: 35px;
$nav-active-color: #000;

// home
// #####################
$home_content_color:#666;
